* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Goblin One", cursive;
  background: black;
}
h1 {
  font-size: 8em;
  text-align: center;
}
h1 span {
  position: relative;
  display: inline-flex;
  color: lime;
}
h1 span:nth-child(odd) {
  color: rgb(253, 249, 249);
  line-height: 1em;
  overflow: hidden;
  letter-spacing: -1em;
  transition: 0.5s ease-in-out;
}
h1:hover span:nth-child(odd) {
  letter-spacing: 0;
}
h1 span:nth-child(even) {
  margin: 10px;
}
h1 span:nth-child(even)::after {
  content: "2";
  position: absolute;
  bottom: 0;
  right: -10px;
  font-size: 0.35em;
}
h1 i {
  position: absolute;
  transform: translate(-50%);
  font-size: 35px;
  font-weight: 400;
  color: gray;
  font-style: initial;
  line-height: 1em;
}
h1 i::before {
  content: "Oxygen";
  position: absolute;
  text-align: center;
  width: 100%;
  display: initial;
  transform: 0.5s;
}
h1:hover i::before {
  opacity: 0;
  letter-spacing: 2em;
}
h1 i::after {
  content: "Helping India Breathe Again";
  opacity: 0;
  visibility: hidden;
  transform: 0.5s;
}
h1:hover i::after {
  opacity: 1;
  visibility: visible;
}
